<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Change Password - Cinema E-Booking System</title>
  <span th:replace="fragments/head"></span>
  <style>
    .navbar {
      border-radius: 0;
    }

    .nav-pills .nav-link a{
      color: rgb(43, 43, 43);
    }

    .nav-pills .nav-link.active a{
      color: rgb(43, 43, 43);
      background-color: lightgray;
      font-weight: bold;
    }

    #main {
        margin-left: 25%;
    }

    #main h1{
      margin-left: 5em;
    }

    #cancel {
      margin-left: 1em;
    }

    .alert {
      text-align: center;
    }
  </style>
</head>

<body>
  <nav th:replace="fragments/adminHeader"></nav>

  <div class="container-fluid">       
    <div class="row">     
      <div class="col-md-8" id="main">
        <h1><b>Change password</b></h1><br><br>
        <form th:action="@{/adminHome/changePassword}" th:object="${passwordDto}" method="POST" class="form-horizontal">                        
          <div class="form-group">
            <label class="control-label col-sm-2" for="oldPassword">Old password</label>
            <div class="col-sm-5">
              <input type="password" th:field="*{oldPassword}" class="form-control" id="old-password" placeholder="Enter current password" name="oldPassword" required><br>
              <div th:if="${param.IncorrectPassword}">
                <div class="alert alert-danger">Incorrect password!</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="newPassword">New password</label>
            <div class="col-sm-5">
              <input type="password" th:field="*{newPassword}" class="form-control" id="new-password" placeholder="Enter new password" name="newPassword" required>
            </div>
          </div>
          <div class="form-group">        
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Change Password</button>
              <a th:href="@{/adminHome/editProfile}" id="cancel">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>    
</body>
</html>