<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    
    <head>
        <title>Checkout - Cinema E-Booking System</title>
        <span th:replace="fragments/head"></span>
        
        <!-- TODO: Move to CSS file -->
        <style>
            .movieSelector span {
                font-weight: bold;
            }
            
            form img {
                width: 100%;
            }
            .btn-circle.btn-xl {
            width: 70px;
            height: 70px;
            padding: 10px 16px;
            border-radius: 35px;
            font-size: 12px;
            text-align: center;
        }

        </style>

    </head>
    
    <body>
        <nav th:replace="fragments/header"></nav>
        <a href="orderSummary" class="btn btn-info" role="button">View order summary</a>
        <main class="container" role="main">
            <form>
                <section>
                    <h2>Select Movie</h2>
                    <div class="movieSelector form-check" th:each="movie : ${movies}"> <!-- this is div abuse :( -->
                        <input class="form-check-input" type="radio" name="movie" th:value="${movie.title}">
                        <span class="form-check-label" th:text="${movie.title}"></span>
                    </div>
                    <br/>
                    
                    <div class="form-group">
                        <label for="showTime">Showing Time:</label> <!-- Do this with JavaScript -->
                        <select name="showTime" id="showTime" class="form-control">
                            <option value="1200P">12:00 PM</option>
                            <option value="0230P">2:30 PM</option>
                            <option value="0500P">5:00 PM</option>
                            <option value="0730P">7:30 PM</option>
                            <option value="1000P">10:00 PM</option>
                        </select>
                    </div>
                </section>
                <hr/>
                <section>
                    <h2>Select Tickets</h2>
                    <button id="addTicket" type="button" class='btn btn-dark'>Add Ticket</button>
                    <br/><br/>
                    
                    <div id="ticket1"> <!-- In the future, IDs will be used by JS to track what tickets are being added -->
                        <div class="form-group">
                            <label for="ticketType">Ticket Type:</label>
                            <select name="ticketType" id="ticketType" class="form-control col-1">
                                <option value="adult">Adult</option>
                                <option value="child">Child</option>
                            </select>
                        </div>
                        
                        <!--
                        <label for="qty">Quantity:</label>
                        <input type="text" name="qty" id="qty" maxlength="2" pattern = "\d{2}" required />
                        <br/>
                        -->
                        
                        <label for="seat">Seat:</label>
                        <input type="text" name="seat" id="seat" maxlength="3" pattern = "[a-zA-Z][0-9]+" class="form-control" required />
                        <br/>
                        
                        <button id="removeTicket1" type="button" class='btn btn-dark'>Remove Ticket</button>
                    </div>
                </section>
                <br/><br/>
                <section>
                    <button id="submitBtn" type='submit' class='btn btn-dark'>Add Tickets to Cart</button>
                </section>
                <hr/>
                <section>
                    <h3>Available Seating</h3> <!-- TODO: Dynamically build seating chart to display availability as well -->
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope = "col">      </th>
                            <th scope = "col">A</th>
                            <th scope = "col">B</th>
                            <th scope = "col">C</th>
                            <th scope = "col">D</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope = "row">1</th>
                            <td><button type="button" class="btn btn-primary btn-circle btn-xl">A1</button></td>
                            <td><button type="button" class="btn btn-primary btn-circle btn-xl">B1</button></td>
                            <td><button type="button" class="btn btn-primary btn-circle btn-xl">C1</button></td>
                            <td><button type="button" class="btn btn-primary btn-circle btn-xl">D1</button></td>
                        </tr>
                        <tr>
                            <th scope = "row">2</th>
                            <td><button type="button" class="btn btn-primary btn-circle btn-xl">A2</button></td>
                            <td><button type="button" class="btn btn-primary btn-circle btn-xl">B2</button></td>
                            <td><button type="button" class="btn btn-primary btn-circle btn-xl">C2</button></td>
                            <td><button type="button" class="btn btn-primary btn-circle btn-xl">D2</button></td>
                        </tr>
                        <tr>
                            <th scope = "row">3</th>
                            <td><button type="button" class="btn btn-primary btn-circle btn-xl">A3</button></td>
                            <td><button type="button" class="btn btn-primary btn-circle btn-xl">B3</button></td>
                            <td><button type="button" class="btn btn-primary btn-circle btn-xl">C3</button></td>
                            <td><button type="button" class="btn btn-primary btn-circle btn-xl">D3</button></td>
                        </tr>
                        <tr>
                            <th scope = "row">4</th>
                            <td><button type="button" class="btn btn-primary btn-circle btn-xl">A4</button></td>
                            <td><button type="button" class="btn btn-primary btn-circle btn-xl">B4</button></td>
                            <td><button type="button" class="btn btn-primary btn-circle btn-xl">C4</button></td>
                            <td><button type="button" class="btn btn-primary btn-circle btn-xl">D4</button></td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </form>
        </main>
        
    </body>
    
    
</html>