<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    
    <head>
        <title>Checkout - Cinema E-Booking System</title>
        <span th:replace="fragments/head"></span>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="/book.js"></script>
    </head>
    
    <body>
        <nav th:replace="fragments/header"></nav>

        <main class="container" role="main">
            <form th:action="@{/book}" method="post" th:object="${booking}">
                <section>
                    <h2>Select Movie</h2>
                    <div th:each="movie : ${movies}"> <!-- this is div abuse :( -->
                        <input class="movieRadioBtn" type="radio" name="movie" th:data-movie="${movie.id}"
                               th:value="${movie.movieId}">
                        <span th:text="${movie.title}"></span>
                    </div>

                    <div>
                        <h3>Select Day:</h3>
                        <select name="showDate" id="showDate" class="form-control">
                            <div th:each="movie : ${movies}">
                                <option th:each="showing : ${OSS.getAllShowsForMovie(movie.id)}"
                                        th:text="${showing.getShowTime().getDateString()}" th:data-movie="${movie.id}"
                                        th:data-showing-date="${showing.getShowTime().getDateString()}"></option>
                            </div>
                        </select>
                    </div>
                    
                    <div>
                        <h3>Select Theater:</h3>
                        <select name="theater" id="theater" class="form-control">
                            <div th:each="movie : ${movies}">
                                <option th:each="showing : ${OSS.getAllShowsForMovie(movie.id)}"
                                        th:text="'Theater ' + ${showing.getTheater().id}"
                                        th:data-movie="${movie.id}"
                                        th:data-showing-date="${showing.getShowTime().getDateString()}"
                                        th:data-theater="${showing.getTheater().id}"></option>
                            </div>
                        </select>
                    </div>

                    <div>
                        <h3>Showing Time:</h3>
                        <select name="showTime" id="showTime" class="form-control">
                            <div th:each="movie : ${movies}">
                                <option th:each="showing : ${OSS.getAllShowsForMovie(movie.id)}"
                                        th:text="${showing.getShowTime().getStartingTimeString()}"
                                        th:data-movie="${movie.id}"
                                        th:data-showing-date="${showing.getShowTime().getDateString()}"
                                        th:data-theater="${showing.getTheater().id}"
                                        th:value="${showing.id}"
                                        th:field="*{booking.showingId}"></option>
                            </div>
                        </select>
                    </div>
                </section>
                <hr/>
                <section id="ticketsSection" hidden>
                    <h2>Select Tickets</h2>
                    <input type="hidden" id="ticketsParam" name="ticketsParam" th:field="*{booking.ticketsParam}" />
                    
                    <div id="ticketContainer"></div>
                    
                    <button id="addTicketBtn" type="button" class="btn btn-primary">Add Ticket</button>
                    <button id="rmTicketBtn" type="button" class="btn btn-danger invisible">Remove Last Ticket</button>
                    <br/>
                    <br/>
                    <button id="submitBtn" class="btn btn-success invisible" type='submit'>Add Tickets to Cart</button>
                </section>
            </form>
            <br/>
            <!--
            <section>
                <a href="orderSummary" role="button">View order summary</a>
            </section>
            <hr/>
            -->
        </main>
    </body>
</html>