<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    
    <head>
        <title>Checkout - Cinema E-Booking System</title>
        <span th:replace="fragments/head"></span>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="/book.js"></script>
    </head>
    
    <body>
        <nav th:replace="fragments/header"></nav>

        <main class="container" role="main">
            <form>
                <section>
                    <h2>Select Movie</h2>
                    <div th:each="movie : ${movies}"> <!-- this is div abuse :( -->
                        <input class="movieRadioBtn" type="radio" name="movie" th:data-movie="${movie.id}"
                               th:value="${movie.title}">
                        <span th:text="${movie.title}"></span>
                    </div>

                    <div>
                        <h3>Select Day:</h3> <!-- Do this with JavaScript -->
                        <select name="showDate" id="showDate" class="form-control">
                            <div th:each="movie : ${movies}">
                                <option th:each="showing : ${OSS.getAllShowsForMovie(movie.id)}"
                                        th:text="${showing.getShowTime().getDateString()}" th:data-movie="${movie.id}"
                                        th:data-showing-date="${showing.getShowTime().getDateString()}"></option>
                            </div>
                        </select>
                    </div>

                    <div>
                        <h3>Showing Time:</h3> <!-- Do this with JavaScript -->
                        <select name="showTime" id="showTime" class="form-control">
                            <div th:each="movie : ${movies}">
                                <option th:each="showing : ${OSS.getAllShowsForMovie(movie.id)}"
                                        th:text="${showing.getShowTime().getStartingTimeString()}"
                                        th:data-movie="${movie.id}"
                                        th:data-showing-date="${showing.getShowTime().getDateString()}"
                                        th:value="${showing.id}"></option>
                            </div>
                        </select>
                    </div>
                </section>
                <hr/>
                <section>
                    <h2>Select Tickets</h2>
                    
                    <div id="ticket1"> <!-- In the future, IDs will be used by JS to track what tickets are being added -->

                        <div class="form-group">
                            <label for="typeOfTicket">Ticket Type:</label>
                            <select name="typeOfTicket" id="typeOfTicket" class="form-control col-1">
                                <option value="adult">Adult</option>
                                <option value="child">Child</option>
                            </select>
                        
                        <h3>Seat:</h3>
                        <h4>Available Seating</h4>

                        <div class="container">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary">A1</button>
                                <button type="button" class="btn btn-primary">A2</button>
                                <button type="button" class="btn btn-primary">A3</button>
                                <button type="button" class="btn btn-primary">A4</button>
                            </div>
                        </div>
                        <div class="container">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary">B1</button>
                                <button type="button" class="btn btn-primary">B2</button>
                                <button type="button" class="btn btn-primary">B3</button>
                                <button type="button" class="btn btn-primary">B4</button>
                            </div>
                        </div>
                        <div class="container">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary">C1</button>
                                <button type="button" class="btn btn-primary">C2</button>
                                <button type="button" class="btn btn-primary">C3</button>
                                <button type="button" class="btn btn-primary">C4</button>
                            </div>
                        </div>
                        <div class="container">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary">D1</button>
                                <button type="button" class="btn btn-primary">D2</button>
                                <button type="button" class="btn btn-primary">D3</button>
                                <button type="button" class="btn btn-primary">D4</button>
                            </div>
                        </div>
                    </div>
                </section>
                <br/><br/>
                <button id="submitBtn" type='submit'>Add Tickets to Cart</button>
                <br/><br/>
                <section>
                    <a href="orderSummary" role="button">View order summary</a>
                </section>
                <hr/>
            </form>
        </main>
    </body>
</html>