<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    
    <head>
        <title>Checkout - Cinema E-Booking System</title>
        <link rel="stylesheet" href="/checkoutFormStyle.css">
        <span th:replace="fragments/head"></span>
    </head>
    
    <body>
        <nav th:replace="fragments/header"></nav>
        
        <main class="container" role="main">
            <h1>Checkout</h1>
            
            <section>
                <h2>
                    Cart
                </h2>
                <table>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                    </tr>
                    <tr th:each="item : ${cart}"> <!-- Placeholder -->
                        <td th:text="${item.name}"></td>
                        <td th:text="${item.price}"></td>
                    </tr>
                    <tr>
                        <td>Subtotal:</td> <!-- TODO: Adjust gap with CSS -->
                        <td>$<span th:text="${subtotal}"></span></td>
                    </tr>
                    <tr>
                        <td>Tax:</td>
                        <td>$<span th:text="${tax}"></span></td>
                    </tr>
                    <tr>
                        <td><b>Total:</b></td>
                        <td>$<span th:text="${subtotal}"></span></td>
                    </tr>
                </table>
                <br/>
                <form id="promoForm">
                    <label for="promoCode" class="form-label">Enter a promotion code: </label>
                    <input type="text" id="promoCode" class="form-control" />
                    <button id="submitPromo" type='submit' class='btn btn-dark'>Apply</button>
                </form>
            </section>
            
            <hr/>
            
            <section>
                <form id="checkoutForm"> <!-- TODO: form action -->
                    <h2> Billing Information </h2>
                    <label for = 'creditCard' class = 'form-label'>Credit Card Number: </label>
                    <input type = 'text' required id = 'creditCard' maxlength = '16' size = '16' pattern = '\d{16}' class = 'form-control'>
                    <span id="creditCardNote">*</span>

                    <label for = 'cvv' class = 'form-label'>CVV: </label>
                    <input type = 'text' required id = 'cvv' maxlength = '3' size = '3' pattern = '\d{3}' class = 'form-control'>
                    <span id="cvvNote">*</span>

                    <label for = 'date' class = 'form-label'>Expiration Date: </label>
                    <input type = 'text' required id = 'date' class = 'form-control'>
                    <span id="expirationDateNote">*</span>

                    <label for = 'name' class = 'form-label'>Cardholder Name: </label>
                    <input type='text' id = 'name' required maxlength = '32' class = 'form-control'>
                    <span id="nameNote">*</span>

                    <h2> Billing Address </h2>
                    <label for = 'addressOne' class = 'form-label'>Address Line 1:</label>
                    <input type='text' id = 'addressOne' required maxlength = '32' class = 'form-control'>
                    <span id="addressOneNote">*</span>

                    <label for = 'addressTwo' class = 'form-label'>Address Line 2: </label>
                    <input type='text' id = 'addressTwo' maxlength = '32' class = 'form-control'>

                    <label for = 'city' class = 'form-label'>City:</label>
                    <input type='text' id = 'city' required maxlength = '32' class = 'form-control'>
                    <span id="cityNote">*</span>

                    <label for = 'state' class = 'form-label'>State:</label>
                    <input type='text' id = 'state' required maxlength = '2' size = '2' pattern = '[A-Za-z]{2}' class = 'form-control'>
                    <span id="stateNote">*</span>

                    <label for = 'zip' class = 'form-label'>Zip Code:</label>
                    <input type='text' id = 'zip' required maxlength = '5' size = '5' pattern = '[0-9]{5}' class = 'form-control'>
                    <span id="zipNote">*</span>
                    
                    <button id="submitBtn" type='submit' class='btn btn-dark'>Confirm Purchase</button>
                    <button id="cancelBtn" type='submit' class='btn btn-light'>Cancel Purchase</button>
                </form>
            </section>
        </main>
        
        <footer>
            <!-- TODO: Footer -->
            <br/> <!-- Temporary measure -->
        </footer>
        
    </body>
    
    
</html>