<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Edit Profile - Cinema E-Booking System</title>
    <span th:replace="fragments/head"></span>
    <style>
    .navbar {
      border-radius: 0;
    }

    .nav-pills .nav-link a{
      color: rgb(43, 43, 43);
    }

    .nav-pills .nav-link.active a{
      color: rgb(43, 43, 43);
      background-color: lightgray;
      font-weight: bold;
    }

    #sidebar {
      margin-top: 1.5em;
    }

    #main h1{
      margin-left: 1.5em;
    }

    #cancel {
      margin-left: 1em;
    }

    .alert {
      text-align: center;
      width: 50%;
      margin-top: 2em;
      margin-left: 30%;
    }
  </style>
    <script src="/checkout.js"></script>
</head>

<body>
<nav th:replace="fragments/header"></nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 main" id="main">
            <h1><b>Checkout</b></h1><br><br>
            <p>Your order total is $<b th:text = "${orderTotal}"></b></p>
            <section>

                    <div class="col-sm-9" >
                        <h3><b>Payment Card Information</b></h3><br>
                        <a th:href="@{/editPaymentInfo}" id="addCardInfo" class="btn btn-primary">Add New Card</a><br><br>
                        <form th:action="@{/paymentConfirmation}" id="checkoutForm" class = "col-sm-9 form-horizontal" method="post" th:object="${checkoutDto}">
                            <div id="oldcards">
                            <div  th:each="paymentCard2 : ${listCards}" th:with="decodedCardNumber=${paymentCard2.decodeCardNumber(paymentCard2.cardNumber)},
              length=${#strings.length(decodedCardNumber)}">
                            <input type="radio" id="cardinfo" name="cardinfo" th:value="${paymentCard2.id}" th:field="${checkoutDto.paymentCardId}">
                                <label for="cardinfo" th:text="${'Ending in ' + #strings.substring(decodedCardNumber, length - 4, length)}"></label><br>
                            </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-9"><br>
                                    <button type="submit" class="btn btn-default">Confirm Payment</button>
                                    <a th:href="@{/viewCart}" id="cancel">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
            </section>

        </div>
    </div>
</div>
</body>
</html>
