<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Edit Profile - Cinema E-Booking System</title>
    <span th:replace="fragments/head"></span>
    <style>
    .navbar {
      border-radius: 0;
    }

    .nav-pills .nav-link a{
      color: rgb(43, 43, 43);
    }

    .nav-pills .nav-link.active a{
      color: rgb(43, 43, 43);
      background-color: lightgray;
      font-weight: bold;
    }

    #sidebar {
      margin-top: 1.5em;
    }

    #main h1{
      margin-left: 1.5em;
    }

    #cancel {
      margin-left: 1em;
    }

    .alert {
      text-align: center;
      width: 50%;
      margin-top: 2em;
      margin-left: 30%;
    }
  </style>
</head>

<body>
<nav th:replace="fragments/header"></nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" id="sidebar">
            <div class="d-flex flex-column">
                <ul class="nav nav-pills nav-stacked flex-column" role="tablist">
                    <li class="nav-link active"><a th:href="@{/editProfile}">Personal Info</a></li>
                    <li class="nav-link"><a th:href="@{/editPaymentInfo}">Payment Info</a></li>
                    <li class="nav-link"><a th:href="@{/orderHistory}">Order History</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-9 main" id="main">
            <h1><b>Checkout</b></h1><br><br>
            <p>Your order total is $<b th:text = "${orderTotal}"></b></p>
            <form id="promoForm">
                <label for="promoCode" class="form-label">Enter a promotion code: </label>
                <input type="text" id="promoCode" class="form-control" />
                <button id="submitPromo" type='submit' class='btn btn-dark'>Apply</button>
            </form>
            <section>
                <form id="checkoutForm"> <!-- TODO: form action -->
                    <h2> Billing Information </h2>
                    <label for = 'creditCard' class = 'form-label'>Credit Card Number: </label>
                    <input type = 'text' required id = 'creditCard' maxlength = '16' size = '16' pattern = '\d{16}' class = 'form-control'>
                    <span id="creditCardNote">*</span>

                    <label for = 'cvv' class = 'form-label'>CVV: </label>
                    <input type = 'text' required id = 'cvv' maxlength = '3' size = '3' pattern = '\d{3}' class = 'form-control'>
                    <span id="cvvNote">*</span>

                    <label for = 'date' class = 'form-label'>Expiration Date: </label>
                    <input type = 'text' required id = 'date' class = 'form-control'>
                    <span id="expirationDateNote">*</span>

                    <label for = 'name' class = 'form-label'>Cardholder Name: </label>
                    <input type='text' id = 'name' required maxlength = '32' class = 'form-control'>
                    <span id="nameNote">*</span>

                    <h2> Billing Address </h2>
                    <label for = 'addressOne' class = 'form-label'>Address Line 1:</label>
                    <input type='text' id = 'addressOne' required maxlength = '32' class = 'form-control'>
                    <span id="addressOneNote">*</span>

                    <label for = 'addressTwo' class = 'form-label'>Address Line 2: </label>
                    <input type='text' id = 'addressTwo' maxlength = '32' class = 'form-control'>

                    <label for = 'city' class = 'form-label'>City:</label>
                    <input type='text' id = 'city' required maxlength = '32' class = 'form-control'>
                    <span id="cityNote">*</span>

                    <label for = 'state' class = 'form-label'>State:</label>
                    <input type='text' id = 'state' required maxlength = '2' size = '2' pattern = '[A-Za-z]{2}' class = 'form-control'>
                    <span id="stateNote">*</span>

                    <label for = 'zip' class = 'form-label'>Zip Code:</label>
                    <input type='text' id = 'zip' required maxlength = '5' size = '5' pattern = '[0-9]{5}' class = 'form-control'>
                    <span id="zipNote">*</span>

                    <button id="submitBtn" type='submit' class='btn btn-dark'>Confirm Purchase</button>
                    <a href="paymentConfirmation" class="btn btn-info" role="button">Demo Confirm Purchase</a>
                    <h4></h4>
                    <a href="orderSummary" class="btn btn-info" role="button">Cancel Purchase</a>
                </form>
            </section>

        </div>
    </div>
</div>
</body>
</html>
