<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Cinema E-booking System</title>
    <span th:replace="fragments/head"></span>
    <style>
        .navbar-nav.navbar-center {
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
        }
        .table {
            margin: 0 auto;
            width: 80%;
        }
    </style>
</head>
<body>
<h1 th:text="${something}"></h1>
<nav th:replace="fragments/header"></nav>
<div class="table _container">

    <div th:if="${param.SchedulerSuccess}">
        <div class="alert alert-success">Successfully scheduled the movie!</div>
    </div>

    <div th:if="${param.TimeConflict}">
        <div class="alert alert-success">Opps! Time conflicts! Could not schedule.</div>
    </div>

    <div th:if="${param.MovieNotFound}">
        <div class="alert alert-success">Opps! Movie not found</div>
    </div>
    <h3>Movies</h3>
    <table class="table table-bordered table-striped">
        <thead>
        <tr style="background-color: #5bbfde">
            <th>Title</th>
            <th>Category</th>
            <th>Cast</th>
            <th>Director</th>
            <th>Producer</th>
            <th>Synopsis</th>
            <th>MPAA_Rating</th>
            <th>Duration</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="Movie : ${listMovie}">
            <td th:text = "${Movie.title}"></td>
            <td th:text = "${Movie.category}"></td>
            <td th:text = "${Movie.cast}"></td>
            <td th:text = "${Movie.director}"></td>
            <td th:text = "${Movie.producer}"></td>
            <td th:text = "${Movie.synopsis}"></td>
            <td th:text = "${Movie.MPAA_rating}"></td>
            <td th:text = "${Movie.duration}"></td>
            <td>
                <a th:href="@{/scheduleMovie/{id}(id=${Movie.id})}" class="btn btn-primary">Schedule</a>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#formModal2">Add New Movie</button>

    <!-- Modal -->
    <div class="modal fade" id="formModal2" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Add New Movie
                    </h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">

                    <form th:action="@{/manageMoviesDto}" method="post" th:object="${movieDto}" id="addNewMovieForm">
                        <div class="form-group">
                            <label for="title">Title</label><span style="color: red">*</span>
                            <input type="text" class="form-control" th:field="${movieDto.title}"
                                   id="title" required/>
                        </div>
                        <div class="form-group">
                            <label for="category">Category</label><span style="color: red">*</span>
                            <input type="text" class="form-control" th:field="${movieDto.category}"
                                   id="category"  required/>
                        </div>
                        <div class="form-group">
                            <label for="cast">Cast</label><span style="color: red">*</span>
                            <input type="text" class="form-control" th:field="${movieDto.cast}"
                                   id="cast" required/>
                        </div>
                        <div class="form-group">
                            <label for="director">Director</label><span style="color: red">*</span>
                            <input type="text" class="form-control" th:field="${movieDto.director}"
                                   id="director" required/>
                        </div>
                        <div class="form-group">
                            <label for="producer">Producer</label><span style="color: red">*</span>
                            <input type="text" class="form-control" th:field="${movieDto.producer}"
                                   id="producer" required/>
                        </div>
                        <div class="form-group">
                            <label for="synopsis">Synopsis</label><span style="color: red">*</span>
                            <input type="text" class="form-control" th:field="${movieDto.synopsis}"
                                   id="synopsis" required/>
                        </div>
                        <div class="form-group">
                            <label for="MPAA_rating">MPAA_rating</label><span style="color: red">*</span>
                            <input type="text" class="form-control" th:field="${movieDto.MPAA_rating}"
                                   id="MPAA_rating" required/>
                        </div>
                        <div class="form-group">
                            <label for="duration">Duration</label><span style="color: red">*</span>
                            <input type="text" class="form-control" th:field="${movieDto.duration}"
                                   id="duration" required/>
                        </div>
                        <button type="submit" onclick="form_submit()" class="btn btn-primary" data-dismiss="modal">
                            Save changes
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function form_submit() {
        document.getElementById("addNewMovieForm").submit();
   }
</script>
</body>
</html>