<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Home - Cinema E-Booking System</title>
    <span th:replace="fragments/head"></span>
    <style>
        .thanks{
            font-family: 'Brush Script MT', cursive;
            text-align:center;
            font-size: 100px;
        }
    </style>
</head>

<body>
<h1 th:text="${something}">Cinema E-Booking System</h1>
<nav th:replace="fragments/header"></nav>

<div class="thanks"><br>
    <p>Thank you!</p>
</div>
<div class="text_th" style="text-align:center;">
    <p style="font-size: medium">Your order was completed successfully.</p>
    <span style="margin-right: 1em;" class="glyphicon glyphicon-send"></span>An email receipt including the details about your order has been sent to your email address
</div>
</body>
</html>