<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Home - Cinema E-Booking System</title>
    <span th:replace="fragments/head"></span>
    <style>
        .movieResult img {
            float: left;
            height: 13ch;
            margin: 0px 2ch;
        }
        
        #submitBtn {
            margin-top: 2ch;
        }
    </style>
</head>

<body>
    <nav th:replace="fragments/header"></nav>
    <main class="container" role="main">
        <h1>Search Movies</h1>
        <form>
            <!-- title, category, showing now or not -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="title">Title:</label>
                        <input id="title" name="title" type="text" size="40" />
                        <br/>
                        <button id="submitBtn" type="submit" class="btn btn-dark">Search</button>
                    </div>
                    <div class="col-sm-4">
                        <label for="cat">Categories</label>
                        <select id="cat" name="cat" th:each="category : ${categories}">
                            <option class="" th:value="${category}" th:text="${category}"></option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label for="showing">Showing Status</label>
                        <br/>
                        <input class="form-check-input" id="any" type="radio" name="status" value="any" checked />
                        <label class="form-check-label" for="any">Any</label>
                        <br/>
                        <input class="form-check-input" id="showing" type="radio" name="status" value="showing" />
                        <label class="form-check-label" for="showing">Currently Showing</label>
                        <br/>
                        <input class="form-check-input" id="soon" type="radio" name="status" value="soon" />
                        <label class="form-check-label" for="soon">Coming Soon</label>
                        <br/>
                    </div>
                </div>
            </div>
        </form>
        
        <hr/>
        
        <div class="movieResult" th:each="movie : ${movies}">
            <img th:src="${movie.linkToPoster}" />
            <h3 th:text="${movie.title}"></h3>
            <p th:text="${movie.MPAA_rating}"></p>
            <!-- TODO: link to movie info page -->
            <a class="btn btn-primary" th:href="${movie.linkToTrailer}" target="_blank" rel="noopener noreferrer external">View Info</a>
            <a class="btn btn-primary" th:href="${movie.linkToTrailer}" target="_blank" rel="noopener noreferrer external">Watch Trailer</a>
        </div>
    </main>
</body>
</html>