<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Cinema E-booking System</title>
    <span th:replace="fragments/head"></span>
</head>
<body>
<nav th:replace="fragments/header"></nav>
<div class="container" style="text-align: center; margin: auto;width: 50%;padding: 50px;">
    <h2>Sign In</h2>

    <!-- failure message -->
    <div th:if="${param.InactiveCustomer}">
        <div class="alert alert-info">Please be a good customer and verify your e-mail address to login</div>
    </div>

    <div th:if="${param.WrongPassword}">
        <div class="alert alert-info">Wrong Password Provided. Don't Panic though. You can reset password.</div>
    </div>

    <form th:action = "@{/signin}" method="post" th:object = "${user}">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" th:field="*{password}" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
        </div>
        <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>
        </div>

        <button type="submit">Submit</button>
    </form>
    <a th:href="@{/sendVerificationCode}">Forgot Password?</a>
</div>
</body>
</html>