<!DOCTYPE html>
<!-- TODO: Relative widths for the form inputs -->
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Sign Up - Cinema E-booking System</title>
    <style>
        span.rqrd{
            color: red;
        }
    </style>
    <span th:replace="fragments/head"></span>
    <script src="/signup.js"></script>
</head>

<body>
    <nav th:replace="fragments/header"></nav>
    <main class="container">
        <h2>Sign Up With The Best Movie Theater</h2>
        <!-- success message -->
        <div th:if="${param.success}">
            <div class="alert alert-info">You've successfully registered to E-Cinema</div>
        </div>
        <!-- failure message -->
        <div th:if="${param.failure}">
            <div class="alert alert-info">This email already exists</div>
        </div>
        <form th:action="@{/signup}" method="post" th:object="${customer}">

            <div class="required">
                <label for="firstname">First Name: <span class="rqrd">*</span></label>
                <input id="firstName" class="form-control" th:field="${customer.firstName}" autofocus="autofocus"  style="width: 370px" required>
            </div>


            <div class="form-group">
                <label for="lastName">Last Name: <span class="rqrd">*</span></label>
                <input id="lastName" class="form-control" th:field="${customer.lastName}" autofocus="autofocus" style="width: 370px" required>
            </div>

            <div class="form-group"> <!-- TODO: Avoid using type "date" for browser compatibility -->
                <label for="date_of_birth">Date of Birth:</label>
                <input type="text" class="form-control" id="date_of_birth" th:field="${customer.dob}" autofocus="autofocus" style="width: 228px">
            </div>

            <div class="form-group">
                <label for="email">Email address: <span class="rqrd">*</span></label>
                <input type="email" class="form-control" id="email" th:field="${customer.email}" autofocus="autofocus" style="width: 370px" required>
            </div>

            <div class="form-group">
                <label for="pwd">Password: <span class="rqrd">*</span></label>
                <input type="password" class="form-control" id="pwd" th:field="${customer.password}" autofocus="autofocus" style="width: 370px" required>
            </div>

            <div class="checkbox">
                <label for="reg"><input type="checkbox" id="reg" th:field = "${customer.isRegistered}" value="true" autofocus="autofocus" > Register for promotion</label>
            </div>
            <br>
            <!-- ***************************************** -->
            <h4><b>Payment Card Information</b></h4>
            <div id="card1" th:object="${form}" style="width:370px" hidden>
                <h5><b><u>Card 1</u></b></h5>
                <div class="form-group">
                    <label for="name1">Cardholder's name</label>
                    <input type="text" th:field="*{cards[0].cardHolder}" class="form-control" id="name1" placeholder="Enter full name" name="name">
                </div>
                <div class="form-group">
                    <label for="cardNumber1">Card number</label>
                    <input type="tel" th:field="*{cards[0].cardNumber}" class="form-control" id="cardNumber1" inputmode="numeric" pattern="[0-9\s]{16, 19}"
                        minlength="16" maxlength="19" placeholder="'XXXX XXXX XXXX XXXX'" name="cardNumber">
                </div>
                <div class="form-group">
                    <label for="expDate1">Expiry date</label>
                    <input type="text" th:field="*{cards[0].expirationDate}" class="form-control" id="expDate1" placeholder="MM/YY" name="expDate">
                </div>
                <div class="form-group">
                    <label for="CCV1">Security code</label>
                    <input type="text" th:field="*{cards[0].securityCode}" class="form-control" id="CCV1" minlength="3" maxlength="3" placeholder="Back of card, 3 digits"
                        name="CCV" >
                </div>
                <div class="form-group">
                    <label for="cardType1">Card type</label>
                    <input type="text" th:field="*{cards[0].cardType}" class="form-control" id="cardType1" placeholder="Enter card type (e.g., VISA, Discover, etc.)"
                        name="cardType">
                </div>
                <div class="form-group">
                    <label for="billingAddress1">Billing address</label>
                    <input type="text" th:field="*{cards[0].billingAddress}" class="form-control" id="billingAddress1" placeholder="Enter billing address"
                        name="billingAddress">
                </div>
            </div>
            <div id="card2" th:object="${form}" style="width:370px" hidden>
                <br/>
                <h5><b><u>Card 2</u></b></h5>
                <div class="form-group">
                    <label for="name2">Cardholder's name</label>
                    <input type="text" th:field="*{cards[1].cardHolder}" class="form-control" id="name2" placeholder="Enter full name" name="name">
                </div>
                <div class="form-group">
                    <label for="cardNumber2">Card number</label>
                    <input type="tel" th:field="*{cards[1].cardNumber}" class="form-control" id="cardNumber2" inputmode="numeric" pattern="[0-9\s]{16, 19}"
                        minlength="16" maxlength="19" placeholder="'XXXX XXXX XXXX XXXX'" name="cardNumber">
                </div>
                <div class="form-group">
                    <label for="expDate2">Expiry date</label>
                    <input type="text" th:field="*{cards[1].expirationDate}" class="form-control" id="expDate2" placeholder="MM/YY" name="expDate">
                </div>
                <div class="form-group">
                    <label for="CCV2">Security code</label>
                    <input type="text" th:field="*{cards[1].securityCode}" class="form-control" id="CCV2" minlength="3" maxlength="3" placeholder="Back of card, 3 digits"
                        name="CCV" >
                </div>
                <div class="form-group">
                    <label for="cardType2">Card type</label>
                    <input type="text" th:field="*{cards[1].cardType}" class="form-control" id="cardType2" placeholder="Enter card type (e.g., VISA, Discover, etc.)"
                        name="cardType">
                </div>
                <div class="form-group">
                    <label for="billingAddress2">Billing address</label>
                    <input type="text" th:field="*{cards[1].billingAddress}" class="form-control" id="billingAddress2" placeholder="Enter billing address"
                        name="billingAddress">
                </div>
            </div>
            <div id="card3" th:object="${form}" style="width:370px" hidden>
                <br/>
                <h5><b><u>Card 3</u></b></h5>
                <div class="form-group">
                    <label for="name">Cardholder's name</label>
                    <input type="text" th:field="*{cards[2].cardHolder}" class="form-control" id="name" placeholder="Enter full name" name="name">
                </div>
                <div class="form-group">
                    <label for="cardNumber">Card number</label>
                    <input type="tel" th:field="*{cards[2].cardNumber}" class="form-control" id="cardNumber" inputmode="numeric" pattern="[0-9\s]{16, 19}"
                        minlength="16" maxlength="19" placeholder="'XXXX XXXX XXXX XXXX'" name="cardNumber">
                </div>
                <div class="form-group">
                    <label for="expDate">Expiry date</label>
                    <input type="text" th:field="*{cards[2].expirationDate}" class="form-control" id="expDate" placeholder="MM/YY" name="expDate">
                </div>
                <div class="form-group">
                    <label for="CCV">Security code</label>
                    <input type="text" th:field="*{cards[2].securityCode}" class="form-control" id="CCV" minlength="3" maxlength="3" placeholder="Back of card, 3 digits"
                        name="CCV" >
                </div>
                <div class="form-group">
                    <label for="cardType">Card type</label>
                    <input type="text" th:field="*{cards[2].cardType}" class="form-control" id="cardType" placeholder="Enter card type (e.g., VISA, Discover, etc.)"
                        name="cardType">
                </div>
                <div class="form-group">
                    <label for="billingAddress">Billing address</label>
                    <input type="text" th:field="*{cards[2].billingAddress}" class="form-control" id="billingAddress" placeholder="Enter billing address"
                        name="billingAddress">
                </div>
            </div>
            
            <button id="addCardBtn" type="button" class="btn btn-primary">Add Card</button>
            <button id="rmCardBtn" type="button" class="btn btn-danger invisible">Remove Card</button>
            <br/>
            <!-- ***************************************** -->
<!--            <div class="form-group">-->
<!--                <label for="cpwd">Confirm Password: <span class="rqrd">*</span></label>-->
<!--                <input type="password" class="form-control" id="cpwd" style="width: 370px" required>-->
<!--            </div>-->

<!--            <div class="checkbox">-->
<!--                <label><input type="checkbox"> Remember me</label>-->
<!--            </div>-->
            <br>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>

    </main>
</body>

</html>