<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="http://localhost:8080/">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                
                <li th:if="${email != null}"><a href="#" th:text = "${userName}">></a></li>
                <li>
                    <form class="navbar-form" role="search" action="/search" method="get" th:object="${searchParams}">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="title" id="title" th:field="*{title}">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </li>
                <li th:if="${email == null}"><a href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li th:if="${email == null}"><a href="signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li th:if="${email != null}"><a href="editProfile"><span class="glyphicon glyphicon-user"></span> Edit Profile</a></li>
                <li th:if="${email != null}"><a href="logout"><span class="glyphicon glyphicon-user"></span> Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>
